.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-bottom: 16px;
}

.MuiPaper-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.MuiAccordion-root {
  flex-direction: column !important;
  background-color: white;
  border-radius: 10px;
}

.MuiAccordionSummary-root {
  width: 100%;
}

button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
  color: white;
  margin-left: 16px !important;
}

.MuiCircularProgress-colorPrimary {
  margin-top: 16px;
  color: #282c34;
}

.MuiSnackbar-root {
  left: 0 !important;
  right: auto !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 32px !important;
}

.MuiAlert-standardError {
  background-color: #d32f2f !important;
  color: white !important;
}

.MuiAlert-standardError svg {
  color: white !important;
}

.accordion-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-data-header .MuiAccordionSummary-root {
  padding-left: 32px;
}